.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


input[type="file"] {
    display: none;
}
.customUploadButton {
    display: inline-block;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

.green{
    color: green;
}