<form style="padding: 5px;">
    <label for="inputButton" class="customUploadButton"><span class="glyphicon glyphicon-upload"></span>Choose File</label>
    <input id="inputButton" type="file" file-model="myFile"/>
    <input placeholder = "Insert Project #" id="projText" type="text" name="projNumber" ng-model="projNumber" size="15" required>
    <i class="green" ng-show=myFile>{{myFile.name}} ready for upload!</i>
    <i ng-show="projNumber.$error.required">*required</i>
    <button  ng-disabled="!projNumber" class="btn btn-primary btn-sm" ng-click="uploadFile()">Submit</button>
    <i>{{confirmationMessage}}</i>
</form>
